body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
 p {
            color: black;
        }


header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

.profile img {
    border-radius: 50%;
    width: 150px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
      }

.social-links a {
    text-decoration: none;
    color: #4CAF50;
       }

.social-links a:hover {
    text-decoration: underline;
        } 
footer {
            background-color: #f8f8f8;
            padding: 20px;
            text-align: center;
            border-top: 1px solid #ccc;
       }
.btn {
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
     }
	 
	 a:hover {  font-size:30px;
              text-decoration: none}
	 
	 a#one:hover { color: green;
           background: black; 
           font-size:30px;
		   text-decoration: none}
		   
	 a#two:hover { color: red;
           background: black; 
           font-size:30px;
		   text-decoration: none}
		   
	 a#tree:hover { color: yellow;
           background: black; 
           font-size:30px;
		   text-decoration: none}

  .background {
            background-image: url('https://img.pikbest.com/wp/202344/autumn-leaves-gorgeous-tree-texture-a-captivating-nature-shot-for-seasonal-backgrounds_9927157.jpg!w700wp'); 
            background-size: cover; 
	    background-repeat: no-repeat;
            background-position: center; 
            background-attachment: fixed;
            height: 100vh;  
            display: flex; 
            justify-content: center; 
            align-items: center; 
            text-align: center; 
          }
